
.bottom-button-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  flex-direction: row;
}

.bottom-button {
  align-self: flex-end;
  cursor: pointer;
  height: 50px;
  width: 478px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bottom-button:hover {
  background: #dadada;
  transition: 0.5s ease;
}

.bottom-button:first-child {
  border-radius: 0px 0px 0px 16px;
}

.bottom-button:last-child {
  border-radius: 0px 0px 16px 0px;
}

.bottom-button-text {
  color: #000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 22fr));
  max-height: 110px;
  overflow-y: scroll;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.grid-box {
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.grid-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.item-name {
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
}

/* .grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  grid-auto-rows: 100px; 
  gap: 30px;
  max-height: calc(120px * 3 + 20px); 
  overflow-y: scroll; 
  overflow-x: auto; 
  width: 100%; 
  padding: 10px;
  box-sizing: border-box;
} */

/* .grid-box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.grid-box:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.grid-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
} */

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.filter-button {
  text-align: center;
  height: 30px;
  border-radius: 16px;
  width: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button-selected {
  background-color: #aaaaaa;
  text-align: center;
  height: 30px;
  border-radius: 16px;
  width: 100px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-button:hover {
  cursor: pointer;
  background: #dadada;
  transition: 0.5s ease;
}


.create-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.create-button {
  text-align: center;
  height: 40px;
  border-radius: 16px;
  width: 150px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-button:hover {
  cursor: pointer;
  background: #dadada;
  transition: 0.5s ease;
}

.schedule-container {
  width: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.schedule {
  display: grid;
  grid-template-columns: 150px repeat(7, 1fr);
  grid-template-rows: 50px repeat(4, 1fr);
  gap: 1px;
}

.header {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px;
}

.time-slot {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.cell {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer; /* Indicate that it's clickable */
  text-align: center;
}

.cell:hover {
  background-color: #f0f0f0; /* Optional: Highlight on hover */
}


.grocery-container-parent {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.grocery-container {
  display: flex;
  border: 1px solid #000;
  width: 400px;
  flex-direction: column;
  margin-top: 50px;
  gap: 5px;
  overflow-y: scroll;
  height: 400px;
}

.ingredient {
  cursor: pointer;
}

.crossout-div {
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.crossed-out {
  text-decoration: line-through;
  color: #999;
}

.day-button-container {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.day-button {
  cursor: pointer;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 16px;
}


.day-button:hover {
  cursor: pointer;
  background: #dadada;
  transition: 0.5s ease;
}

.form-container-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  margin-top: 100px;
  border: 1px solid #000;
  height: 500px;
  flex-direction: column;

  width: 500px;
}

.option-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  gap: 20px;
}

.option-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}